<div class="card custom-card">
    <div class="card-headers custom-header">
        <div class="title"><strong>{{entry.title}}</strong></div>
        <div class="posted">Posted by: {{entry.user.user_name}} on {{format_date entry.date_created}}</div>
    </div>
    <div class="card-body custom-body">
        <div class="info">{{entry.text}}</div>
    </div>

    {{#if entry.comments}}
    {{#each entry.comments as |comment|}}
    <div class="card-headers custom-header2">
        <div class="title2"><strong>Comment</strong></div>
        <div class="posted">Posted on: {{format_date comment.date_created}}</div>
    </div>
        <div class="card-body custom-body2">
        <div class="info2">{{comment.comment_text}}</div>
    </div>
    {{/each}}
    {{/if}}


</div>
<br>
<div class="card custom-card">
    <div class="card-headers custom-header"></div>
    <div class="card-body custom-body">
        <div class="info">


    <form class="row g-3 comm-label" data-id="{{entry.id}}">
        <div class="comment-section">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Leave a
                    comment:</strong></label>
            <textarea class="form-control" id="comment-text" rows="3"></textarea>
        </div>
        <button class="btn button-custom"><strong>Submit</strong></button>

    </form>


        </div>
    </div>
</div>

 <script src="/js/leaveComment.js"></script>











